.title-blog {
  margin-bottom: 80px;
}
#cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
 
}

.card-blog {
  display: flex;
  width: 367px;
  height: 520px;
  padding-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 24px 0px rgba(118, 118, 178, 0.28);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-blog img {
  display: flex;
  height: 220px;

  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.card-blog .card-blog-top {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-blog h3 {
  font-size: 20px;
  margin: 10px 0;
  color: var(--soft-blue, #5468e7);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.card-blog p {
  font-size: 16px;
  color: #333;
}

.button-pagination {
  margin-top: 120px;
  margin-bottom: 140px;
  width: 100%;
}

#next-btn,
#prev-btn {
  width: 200px;
  padding: 10px 44px;
  gap: 8px;
  border-radius: 4px;
  background: rgba(84, 104, 231, 0.5);
}

#next-btn.hidden {
  display: none;
}

#prev-btn.hidden {
  display: none;
}

.profile-container {
  display: flex;
  width: 100%;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.profile-container img {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  #cards-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .card {
    width: 100%;
    height: 520px;
    margin: auto 10px;
  }
}
